/*background*/
#background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-color 1s ease;
}


/*navbar*/
.navbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: relative;
}

/*.logo 
{
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}*/

/*menu icon*/
.menu_toggle 
{
  width: 30px;
  height: 30px;
  /*background-image: url(menu-icon.png);
  background-size: cover;*/
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: none;
}


/*tabs*/
.menu 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li 
{
  margin-right: 20px;
}

.menu li:last-child 
{
  margin-right: 0;
}

.menu a 
{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.menu a:hover 
{
  color: #aaa;
}


/*login*/
.login 
{
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) 
{
  .menu 
  {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
  }

  .menu_toggle 
  {
    display: block;
  }

  .menu li 
  {
    margin-bottom: 10px;
  }

  .login 
  {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}
