<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Evee</title>
    <link rel="icon" href="assets/Evee_logo.png">

    <link rel="stylesheet" href="index.css">

    <script src="index.js"></script>

</head>
<body>   
    <div id="background">

        <!--desktop version-->
        <div class="desktop_version">

          <!--desktop navigation bar-->
          <div class="desktop_navbar">

            <div class="logo">Evee</div>

              <ul class="menu">
                <li><button class="home" >Home</button></li>
                <li><button class="about" >About</button></li>
                <li><button class="faq" >FAQ</button></li>
                <li><button class="contact" >Contact</button></li>
              </ul>

            <div>
              <a href="src/login_signup/login.html" class="login">Login</a>
            </div>

          </div>

          <!--Content goes here-->

          

        </div>


        <!--mobile version-->
        <div class="mobile_version">

          <!--mobile navigation bar-->
            <div class="mobile_navbar">
             <div>
                <button class="icon" onclick="myFunction()">&#9776;</button>
             </div>

              <div class="active">Evee</div>

              <div>
                <a href="src/login_signup/login.html" class="mobile_login">Login</a>
              </div>

              <div id="myLinks">
                <button>Home</button>
                <button>About</button>
                <button>FAQ</button>
                <button>Contact</button>
              </div>
             
            </div>

            <!--content goes here-->
  


           </div>


    </div>
</body>
</html>
